.Header {
  display: flex;
  justify-content: center;

  height: 56px;
  background: $color-background;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  transform: translateZ(0);
  border-bottom: solid 1px $shade-light;

  padding: 0 $spacing-4;

  > .content {
    display: flex;
    align-items: center;

    width: $body-width;
  }

  > .content > .logo {
    color: $color-accent;

    font-family: "Barlow Semi Condensed";
    font-weight: 700;
    font-size: $font-size-huge;
  }

  > .content > .nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}
