.HeaderLink {
  height: 56px;

  display: flex;
  align-items: center;

  font-size: $font-size-big;
  font-weight: 600;
  text-transform: lowercase;

  color: $font-color-muted;
  border-bottom: solid 1px transparent;

  &:hover {
    cursor: pointer;
    color: $font-color-normal;
  }

  &.-active {
    border-color: $color-accent;
    color: $color-accent;
  }
}

.HeaderLink + .HeaderLink {
  margin-left: $spacing-5;
}
