.Sidebar {
  width: 275px;
  margin-right: $spacing-5;

  > .category > .name {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: $font-size-huge;
    font-weight: 600;
  }

  > .category > .items {
    margin-top: $spacing-4 / 2;
  }

  > .category + .category {
    margin-top: $spacing-5;
  }
}

.SidebarItem {
  > .link {
    display: block;
    color: $font-color-muted;
    padding: #{$spacing-4 / 2} 0;
    margin-left: $spacing-4;
    font-size: $font-size-big;
  }

  > .link:hover {
    color: $font-color-normal;
  }

  > .link.-active {
    color: $color-accent;

    + .children {
      display: block;
    }
  }

  &.-child > .link.-active {
    color: $font-color-normal;
  }

  > .children {
    margin-left: $spacing-4;
    display: none;
  }
}
