.Document {
  margin-left: $spacing-5;

  p {
    font-size: $font-size-big;
    margin-bottom: $spacing-5;
  }

  h2 {
    font-size: $font-size-huge;
    font-weight: 600;

    padding-bottom: $spacing-4;
    border-bottom: solid 1px $shade-light;
    margin-bottom: $spacing-4;
  }

  h3 {
    font-weight: 600;
    margin-bottom: $spacing-4;
  }

  code {
    display: block;

    font-family: monospace;
    font-size: $font-size-normal;

    padding: $spacing-5;
    margin: -$spacing-5;

    background: $shade-dark;
    border-radius: 3px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: $spacing-5;
  }

  table {
    margin-bottom: $spacing-4;
    width: 100%;
  }

  thead {
    border-bottom: solid 1px $shade-light;
  }

  thead tr th {
    padding-bottom: $spacing-4;
    text-align: left;

    color: $color-accent;
    font-weight: 600;
  }

  tbody tr {
    border-top: solid 1px $shade-light;
  }

  tbody tr td {
    padding: $spacing-4 0;
  }

  a {
    color: $font-color-muted;
  }

  a:hover {
    color: $font-color-normal;
  }
}
