.DocumentTitle {
  //margin-left: -$spacing-5;

  font-size: 48px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;

  line-height: 30px;
  height: 34px;

  color: $color-accent;
  margin-bottom: $spacing-5;
}
