$color-accent: #e81e57;
$color-background: #29274c;

$shade-light: transparentize(white, 0.95);
$shade-dark: transparentize(black, 0.8);

$font-color-normal: transparentize(white, 0.1);
$font-color-muted: transparentize(white, 0.5);

$shadow-light: 0px -2px 18px 0px rgba(0, 0, 0, 1);
