@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700|Barlow:400,600");

body,
html {
  background: $color-background;
  color: $font-color-normal;

  font-family: "Barlow", sans-serif;
}
